.main-link{
  font-family: var(--primary-font);
  font-weight: 600;
  background-color: var(--primary-color);
  font-size: 1.5rem;
  padding: 0.8vw 3.5vw;
  color: var(--primary-text-color);
  text-decoration: none;
  position: relative;
  cursor: pointer;
  display: inline-block;
  border: none;
}

.main-link::after{
  content: '';
  display: inline-block;
  position: absolute;
  z-index: 10;
  top: calc(-10% + -2px);
  left:calc(-5% + -1.5px);
  transition: transform 0.2s;
  transform: rotateX(90deg) rotateZ(20deg);
  width: 110%;
  height: 120%;
  border: 3px solid var(--primary-color);
}

.main-link:hover::after{
  transform: rotateX(0deg) rotateZ(0deg);
}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
  .main-link{
    font-size: 1.6rem;
    padding: 1vw 4vw;
  }
  
}
 
/* MOBILE STYLES */
@media only screen and (max-width: 649px){
  .main-link{
    font-size: 1.8rem;
    padding: 2.2vw 10vw;
  }
}